@font-face {
  font-family: 'TT Commons';
  src: url('./fonts/TTCommonsRegular.otf') format('truetype');
}

/* @font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue.ttc') format('truetype');
} */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=15999') format('woff');
  font-display: swap;
}

/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=15999'); */

body {
  /* font-family: HelveticaNeue; */
  font-family: "Helvetica Neue", sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Helvetica Neue', sans-serif;
}

div#tidio-chat {
  display: none;
}

.ReactModal__Body--open {
  overflow: hidden;
}